table {
    margin: 10%;
    border: 3px solid blue;
    border-collapse: collapse;
    width: 700px;
}
th, td {
    padding: 10px 50px 10px 5px;
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
    font-size: x-large;
    border-left: 1px solid blue;
    border-right: 1px solid blue;
}
th {
    text-align: center;
    color: #1E459E;
    background-color: #B9C9FE;
    border-left: 1px solid blue;
    border-right: 1px solid blue;
}
td {
    color: #7274A5;
    background-color: #D0DAFD;
    border-top: 1px solid blue;
}